# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Midtrans
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false

# Fonnte
FONNTE_TOKEN=

# Telegram
TELEGRAM_BOT_TOKEN=

# Pixel (opsional default, tiap produk bisa override)
FACEBOOK_PIXEL_ACCESS_TOKEN=
TIKTOK_PIXEL_ACCESS_TOKEN=

